body{  
    position: relative;
    width: 100%;
    height: 100vh;
    background-color:  #f0f0f0;
}
.container{
    background-color: hsl(0, 0%, 100%);
    width: 700px;
    height: 600px; 
    box-shadow: black;
    background-position: center;
    padding: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
h1{
    padding-left: 10px;
}
#left{
    text-align: left;
  
}
.table-1{
 
width: 95%;
margin: auto;
border: 1px solid rgb(129, 126, 126);
border-collapse: collapse;
  overflow: hidden;
  border-bottom: 1px solid rgb(129, 126, 126);
}
.td1{
    border: 1px solid rgb(129, 126, 126);
    border-bottom: 1px solid rgb(129, 126, 126);
    
}
th{
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid rgb(129, 126, 126);
}
td{
    border-spacing: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(129, 126, 126);
}
.th1{
    border-left: 1px solid rgb(129, 126, 126);
   
}
.h1{
    border-bottom: 1px solid rgb(129, 126, 126);
}