body{
    padding: 0;
    margin:0;
    background-color: rgb(214, 223, 223)
}
.navbar {
    background-color:black;
    overflow: hidden;
    padding-right: 30px;
  }
  .navbar a {
    float:right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  .navbar a:hover {
    background-color: #dad4b7;
    color: rgb(160, 157, 190);
  }
  .navbar:hover{
   
    background-color: rgb(27, 88, 173);
 }
 h1{
    display: flex;
    justify-content: center;
 }
 h1:hover{
   
    color: rgb(27, 88, 173);
 }